$black: #1c2128;
$white: #f2f4f7;
$pure-white: #fff;

$gray-0: #cdd9e5;
$gray-1: #adbac7;
$gray-2: #909dab;
$gray-3: #768390;
$gray-4: #636e7b;
$gray-5: #545d68;
$gray-6: #444c56;
$gray-7: #373e47;
$gray-8: #2d333b;
$gray-9: #222222;

$background-dark: #222222;
$background-light: #cdd9e5;

$font-dark: #909dab;
$font-light: #2d333b;


$bg-shadow: linear-gradient(45deg, rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.911));
$nav-shadow: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.001));


$gradient-180deg: linear-gradient(180deg, #2af598 0%, #239fec 100%);
$gradient-to-right: linear-gradient(to right, rgb(50, 124, 243) 0%, rgb(65, 201, 137) 100%);