$black: #1c2128;
$white: #f2f4f7;
$pure-white: #fff;

$gray-0: #cdd9e5;
$gray-1: #adbac7;
$gray-2: #909dab;
$gray-3: #768390;
$gray-4: #636e7b;
$gray-5: #545d68;
$gray-6: #444c56;
$gray-7: #373e47;
$gray-8: #2d333b;

$background: #22272e;


$secondary-color: linear-gradient(180deg, #009efd 30%, #2af598 100%);

$nav-bg: linear-gradient(to right, rgb(15, 45, 92) 0%, black 100%);
