@use 'colors' as *;
@use 'animations';
@use 'fonts';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; //reset to 10px
	scroll-behavior: smooth;
}

body {
	font-family: 'chakra_400_norm', sans-serif;
	font-size: 1.6rem;
	background-color: $background-dark;
	color: $font-dark;
}

.wrapper {
	margin: 2em auto;
	width: 100%;
	max-width: 1200px;
}

.text-title {
	background-image: $gradient-180deg;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 2.5rem;
}

//NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid $white;
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: '';
		background-color: $white;
		transition: width 0.3s;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 125%;
		}

		&::before {
			top: 27px;
			width: 65%;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(102%);
	transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), background-color 0.7s;
	z-index: 100;

	&--active {
		transform: translateX(0);
		background-color: $background-dark;
	}

	&__brand {
		display: none;
	}

	&__item {
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $white;
		text-decoration: none;
	}
}

//HEADER
.header {
	position: relative;
	height: 100vh;
	background-image: $bg-shadow, url('../img/bg-small.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	&__box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		color: $white;
		text-align: center;

		&-text {
			.welcome-custom {
				font-size: 2.5rem;
				font-family: 'chakra_700_norm', sans-serif;
				text-transform: uppercase;
				background-image: $gradient-180deg;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				letter-spacing: 2px;
			}

			.welcome-text {
				padding: 0.5em;
				font-size: 2rem;
			}
		}

		&-title {
			position: relative;
			display: flex;
			justify-content: center;
			text-align: center;

			&-element {
				position: absolute;
				font-family: 'chakra_700_norm', sans-serif;
				font-size: 10rem;
				opacity: 0.2;
			}

			&-element:first-child {
				top: 0.5em;
				left: 0.2em;
			}

			&-element:last-child {
				top: 0.8em;
				right: 0.2em;
			}

			.typewriter-text {
				max-width: 90%;
				margin-top: 3em;
				font-size: 3rem;
				font-weight: normal;
			}
		}

		&-socialmedia {
			position: relative;
			padding-top: 5em;

			.socialmedia-link {
				display: inline-block;
				padding: 10px;
				text-decoration: none;
				transform: scale(1);
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.4);
				}
			}
		}
	}

	&__arrow {
		display: block;
		position: absolute;
		left: calc(50% - 35px);
		bottom: -10px;
		padding: 0.5em;
		font-size: 30px;
		animation: breath-animation 2s infinite;
	}
}

.abt-me {
	margin: 1.5em;

	.text-title {
		margin-left: -0.5em;
	}

	&__quote {
		position: relative;
		padding: 2em auto;
		margin: 4em 0;
		color: hsl(0 0% 100% / 0.2);
		font-family: 'chakra_300_italic', sans-serif;
		
		&-text {
			text-align: center;
			font-size: 2.5rem;
			
			span {
				background-image: linear-gradient(90deg, $white, $white);
				background-clip: text;
				background-repeat: no-repeat;
				background-size: 0% 100%;
				animation: text-reveal linear forwards;
				animation-timeline: view(y);
				animation-range-start: cover 5vh;
				animation-range-end: cover 45vh;
				
			}
		}

		&-quoter {
			position: absolute;
			font-size: 10rem;

			&:first-child {
				top: -0.4em;
				left: -0.1em;
			}

			&:last-child {
				bottom: -0.6em;
				right: -0.1em;
			}
		}
	}

	&__text {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: 2em;

		&-lines {
			margin-top: 1em;
			line-height: 1.2em;
			letter-spacing: 0.5px;

			span {
				font-weight: bold;
			}
		}

		&-more-btn,
		&-less-btn {
			position: absolute;
			right: 0;
			margin: 1em 0;
			padding: 0.4em;
			background: none;
			border: 1px solid $background-light;
			border-radius: 1px;
			color: $font-dark;
			cursor: pointer;
			z-index: 5;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 0;
				width: 100%;
				background-color: $white;
				transform: none;
				transition: height 0.3s;
				z-index: -1;
			}

			&:hover {
				color: $black;
			}

			&:hover::before {
				height: 100%;
			}
		}

		&--inactive {
			display: none;
		}
	}

	//TODO zdjęcie do dokończenia - mobile 500x500 wystarczy, na desktop prostokąt
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		padding: 6em 1em;

		img {
			min-width: 250px;
			max-width: 60%;
			filter: grayscale(1);
		}
	}
}

.exp {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2em;
	height: 75vh;
	width: 100%;
	background-image: $bg-shadow, url('../img/bg-exp-small.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #cdd9e5;
	filter: grayscale(0.8);

	&-road {
		display: flex;
		flex-direction: column;
		text-align: center;

		&__line {
			margin: 2em auto;
			height: 35px;
			width: 2px;
			background-color: $font-dark-2nd;
		}

		&__text {
			font-family: 'chakra_300_light', sans-serif;

			h5 {
				padding-bottom: 0.3em;
				font-size: 2rem;
			}
		}
	}
}

.skills {
	padding-top: 5em;
	width: 100%;

	&-boxes {
		display: flex;
		flex-direction: column;
		text-align: center;

		&-title {
			padding-top: 3em;
			font-size: 2.2rem;
		}

		&__tech {
			display: flex;
			flex-direction: column;

			&-list {
				padding-bottom: 3em;
				margin: 0.7em;
				color: $font-dark-2nd;
				font-size: 2rem;

				&:first-child {
					padding-top: 1em;
				}
			}

			&-imgs {
				display: flex;
				justify-content: space-evenly;
				flex-wrap: wrap;

				img {
					height: 5em;
					padding: 0.5em;
					filter: grayscale(0.8);
				}
			}
		}

		&__soft {
			padding-bottom: 2em;
			margin: 1em 0;

			&-box-list {
				padding: 0 2em;
				font-size: 1.7rem;
				list-style: none;
				color: $font-dark-2nd;

				li {
					padding: 0.6em;
				}
			}
		}
	}
}

.hobby {
	padding-top: 2em;
	margin: 1.5em;

	&__box {
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;
			flex-direction: column;
			margin-top: 3em;

			&__img {
				position: relative;
				display: block;
				margin: 0 auto;
				height: 8em;
				width: 8em;
				border: 2px solid $white;
				border-radius: 50%;
				opacity: 0.7;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					height: 65%;
					filter: invert(0.9);
				}
			}

			&__text {
				margin-top: 1em;

				h3 {
					text-align: center;
					margin-bottom: 0.5em;
					font-size: 2.2rem;
				}
			}
		}
	}
}

//____________________________________________________________

@media (min-width: 576px) {
	.text-title {
		font-size: 2.7rem;
	}

	.header {
		&__box {
			&-text {
				.welcome-custom {
					font-size: 4rem;
					text-transform: none;
				}

				.welcome-text {
					font-size: 2.2rem;
				}
			}

			&-title {
				&-element {
					font-size: 12rem;
				}

				.typewriter-text {
					max-width: 90%;
					font-size: 3.5rem;
				}
			}
		}
	}

	.exp-road {
		&__text {
			font-size: 2rem;

			h5 {
				font-size: 3.5rem;
			}
		}

		&__line {
			height: 40px;
			width: 3px;
		}
	}

	.skills {
		max-width: 600px;
		margin: 0 auto;

		&-boxes__soft-box-list {
			font-size: 2rem;
		}
	}
}

@media (min-width: 768px) {
	.text-title {
		font-size: 3.4rem;
	}

	.nav {
		&__item {
			font-size: 3.4rem;
		}
	}

	.header {
		&__box {
			&-text {
				.welcome-custom {
					font-size: 5rem;
					text-transform: none;
				}

				.welcome-text {
					font-size: 2.5rem;
				}
			}

			&-title {
				.typewriter-text {
					max-width: 90%;
					font-size: 4rem;
				}
			}
		}
	}

	.abt-me {
		margin: 3em;

		&__quote {
			max-width: 700px;
			margin: 3em auto;
			padding-bottom: 3em;

			&-text {
				font-size: 3rem;
			}

			&-quoter {
				font-size: 12rem;
			}
		}

		&__text {
			&-lines {
				font-size: 1.8rem;
			}

			&-more-btn,
			&-less-btn {
				font-size: 1.4rem;
			}

			&-short {
				margin-top: 6em;
			}
		}
	}

	.exp-road {
		&__text {
			font-size: 2.5rem;

			h5 {
				font-size: 4rem;
			}
		}

		&__line {
			height: 50px;
			width: 3px;
		}
	}

	.skills {
		padding-top: 1em;
	}

	.hobby {
		&__box {
			display: flex;
			flex-direction: column;

			&-item {
				flex-direction: row;
				justify-content: center;
				align-items: center;

				&__img {
					height: 200px;
					width: 200px;
				}

				&__text {
					width: 60%;
					font-size: 1.7rem;

					h3 {
						font-size: 2.5rem;
					}
				}

				&--left {
					flex-direction: row-reverse;
					padding: 2em 0;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.burger-btn {
		display: none;
	}

	.text-title {
		font-size: 4rem;
		margin-top: 3em;
	}

	.nav {
		justify-content: space-between;
		padding: 0.5em 5em;
		height: 8vh;
		background-image: $nav-shadow;
		transform: translateX(0);

		&__desktop {
			display: flex;
			justify-content: space-evenly;
			gap: 0.5em;
		}

		&__brand {
			display: block;
			background-image: $gradient-180deg;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-decoration: none;

			&-logo {
				font-size: 2.8rem;
				font-family: 'chakra_700_norm', sans-serif;
			}

			&-slogan {
				margin-left: 2em;
				font-size: 1.5rem;
			}
		}

		&__item {
			position: relative;
			padding: 0.5em 1em;
			color: $white;
			font-size: 1.8rem;
			z-index: 0;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 0;
				width: 100%;
				background-color: $white;
				transform: none;
				transition: height 0.3s;
				z-index: -1;
			}

			&:hover {
				color: $black;
			}

			&:hover::before {
				height: 100%;
			}
		}
	}

	.header {
		background-image: $bg-shadow, url('../img/bg-big.jpg');

		&__box {
			&-text {
				.welcome-custom {
					font-size: 6rem;
					cursor: url('../img/custom-cursor_.png'), auto;
				}

				.welcome-text {
					font-size: 3rem;
				}
			}

			&-title {
				&-element {
					font-size: 15rem;

					&:first-child {
						top: 0.6em;
						left: 0;
					}

					&:last-child {
						right: 0;
					}
				}

				.typewriter-text {
					width: 850px;
					max-width: 90%;
					font-size: 5rem;
				}
			}

			&-socialmedia {
				position: absolute;
				bottom: 1em;
				right: 2em;

				.socialmedia-link {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 15px;
				}
			}
		}
	}

	.abt-me {
		display: flex;
		margin: 2em auto;
		width: 100%;
		height: 100vh;

		&__quote {
			&-text {
				font-size: 3.3rem;
			}

			&-quoter {
				font-size: 15rem;
			}
		}

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 50%;
			padding: 2em;

			&-lines {
				font-size: 1.9rem;
			}

			&-more-btn,
			&-less-btn {
				margin: 0;
				font-weight: bold;
				border: none;
				font-size: 1.6rem;
			}

			&-long {
				padding-top: 0;
			}
		}

		&__img {
			width: 50%;
			height: auto;
		}
	}

	.exp {
		height: 33vh;
		background-image: $bg-shadow, url('../img/bg-exp-big.jpg');

		&-road {
			flex-direction: row;
			justify-content: space-between;

			&__line {
				height: 3px;
				width: 50px;
			}

			&__text {
				transition: scale 0.3s;

				&:hover {
					scale: 1.1;
				}
			}
		}
	}

	.skills {
		padding-top: 2em;
		max-width: 1200px;
		&-boxes {
			&-title {
				padding-top: 3em;
				font-size: 2.8rem;
			}

			&__tech {
				flex-direction: row;

				&-list {
					width: 33%;
					font-size: 2.5rem;

					&:first-child {
						padding: 0;
						order: 1;
					}

					&:last-child {
						order: 2;
					}

					p {
						padding-bottom: 1em;
					}
				}

				&-imgs {
					img {
						height: 3.8em;
						padding: 0.4em;
						transition: scale 0.5s, filter 0.5s;

						&:hover {
							scale: 1.3;
							filter: grayscale(0);
						}
					}
				}
			}

			&__soft-box {
				display: flex;
				justify-content: center;
				align-items: center;

				&-list {
					text-align: left;
					list-style: circle;
				}
			}
		}
	}

	.hobby {
		&__box {
			&-item {
				&__img {
					height: 250px;
					width: 250px;
				}

				&__text {
					width: 65%;

					h3 {
						font-size: 2.8rem;
					}
				}
			}
		}
	}
}
